.motherdom{
  width: 250px;
  height: 80px;
}

.papapanel{
}

.settings-panel{
  height: 120px;
}

h4{
  margin-left: 20px;
  font-size: 14px;
}

#widebutt{
  width: 100%;
}

#cog{
  font-size: 16px !important;
  margin-left: -1px;
  margin-top: 1px;
}

#cogbutt{
  height: 22px !important;
  width: 22px !important;
  padding: 0px;
  margin-right: 5px;
  margin-top: 5px;
}

#rightlean{
  text-align: right;
}

#topentry{
  margin-top: 4px;
}

.dropdown-menu{
  width: 100%;
}

.dark-mode {
  background-color: #2D2D2D;
  color: #b9b9b9 !important;
}

.dark-mode input, textarea{
  background-color: #3B3B3B !important;
  color: #b9b9b9;
}

.dark-mode .dropdown-menu{
  background-color: #9b9b9b !important;
}

.dark-mode .form-control::-moz-placeholder {
  color: rgb(109, 109, 109);
  opacity: 1;
}
.dark-mode .form-control:-ms-input-placeholder {
  color: rgb(109, 109, 109);
}
.dark-mode .form-control::-webkit-input-placeholder {
  color: rgb(109, 109, 109);
}

.light-mode {
  background-color: #F3F3F3;
}